<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Higher Order Beliefs</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/stylesheets/style.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">An Economics Riddle</a>
    </div>
  </nav>

  <section id="main">
    <div class="prompt">
      <div class="row">
        <div class="col-md-2 mx-auto" id=sidePic>
          <img src="https://i.imgur.com/BIm9PsB.jpg">
        </div>
        <div class="col-md-8 mx-auto" id=prompt>
          <h2>How <strong>woke</strong> are you?</h2>
          <p class="lead">If u woke then u can answer this question correctly - a riddle/game from the world of ecomomics:</p>
          <ul>
            <li>Suppose you and everyone else in ITP is playing this game</li>
            <li>The object of the game is to <strong>choose the right number</strong>, between 0 and 100</li>
            <li>The right number is <strong>two thirds (2/3)</strong> of <strong>the average</strong> of everyone's guess (<a class=exampleToggle href="#exampleIncluded">show an example</a>)</li>
          </ul>
          <div class="exampleWrapper">
            <div class="row" id=exampleDetails>
              <div class="col-md-8 mx-auto" id="example">
                <p><em><small>In example A Esther, Marco, Coco, and James are playing this game. <br>In example B Tony, Fernando, Oscar, and Frankie do the same thing.</small></em></p>
              </div>
            </div>
            <div class="row" id=exampleTables>
              <div class="col mx-auto">
              </div>
              <div class="col-1 mx-auto" id="example">
              </div>
              <div class="col-2 mx-auto" id="example">
                <p><u>Example A</u></p>
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th>Participant</th>
                      <th>Guess</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Esther</td>
                      <td>68</td>
                    </tr>
                    <tr>
                      <td>Marco</td>
                      <td>35</td>
                    </tr>
                    <tr>
                      <td>Coco</td>
                      <td>28</td>
                    </tr>
                    <tr>
                      <td>James</td>
                      <td>79</td>
                    </tr>
                    <tr>
                      <td>Average</td>
                      <td>52.5</td>
                    </tr>
                    <tr>
                      <td>Correct Answer</td>
                      <td>35</td>
                    </tr>
                  </tbody>
                </table>
                <p><small>In this example, <strong>Marco won</strong> - his guess (35) was exactly 2/3rds of the groups average</small></p>
              </div>
              <div class="col mx-auto" id="example">
              </div>
              <div class="col-2 mx-auto" id="example">
                <p><u>Example B</u></p>
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th>Participant</th>
                      <th>Guess</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Tony</td>
                      <td>44.4</td>
                    </tr>
                    <tr>
                      <td>Fernando</td>
                      <td>10.2</td>
                    </tr>
                    <tr>
                      <td>Oscar</td>
                      <td>17.5</td>
                    </tr>
                    <tr>
                      <td>Frankie</td>
                      <td>15.5</td>
                    </tr>
                    <tr>
                      <td>Average</td>
                      <td>21.9</td>
                    </tr>
                    <tr>
                      <td>Correct Answer</td>
                      <td>14.6</td>
                    </tr>

                  </tbody>
                </table>
                <p><small>In this example, <strong>nobody won</strong> - 2/3rds of the groups average was 21.9. Frankie was closest with his guess of 15.5</small></p>

              </div>
              <div class="col-1 mx-auto" id="example">
              </div>
              <div class="col mx-auto">
              </div>
            </div>
          </div>
          <div class="col-lg-8 mx-auto" id=postForm>
            <p class="lead">What number would you guess?</p>
            <form action="/results" method="POST">
              <label for="answer">Your guess:</label>
              <input type="number" name="submitted_answer" />
              <input type="submit" name="submitButton" value="Submit" />
            </form>
          </div>
        </div>
        <div class="row" id=FAQ>
          <div class="col-lg-8 mx-auto">
            <h3>FAQs</h3>
            <p class="lead">Exactly what number can I put submit?</p>
            <ul>
              <li>Any real number between 0 and 100</li>
              <li>It can be an interger (1) or a float (10.5)</li>
              <li>It is <strong>inclusive</strong> of 0 and 100 - both of those numbers are acceptable</li>
            </ul>
          </div>
        </div>
  </section>
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Caleb Ferguson 2018 | <a href="http://calebfergie.com/">calebfergie.com</a> | Adapted from the <a href="https://theincidentaleconomist.com/whats-23-of-the-average/">incidental economist</a></p>
    </div>
    <!-- /.container -->
  </footer>
  </container>

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="/javascripts/scrolling-nav.js"></script>

</body>

</html>
