<!DOCTYPE html>
<html>
<head>
  <title>Current Results</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
        <h1>Your Submission</h1>
        <% if (person) {  %>
                <h2><%= person.name %><h2>
                <h3><%= person.other %></h3>
        <% } %>
        <h1>Current Set of Results</h1>
</body>
</html>
