<!DOCTYPE html>
<html>
<head>
  <title>Template Page</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
        <h1>My Cool Page</h1>
        <% if (person) {  %>
                <h2><%= person.name %><h2>
                <h3><%= person.other %></h3>
        <% } %>
</body>
</html>
